body {
  background-color: #fff;
}

.about {

  &__wrapper{
    padding: 65px 15px 70px;

  &__tittle{
    font-size: 34px;
    margin-bottom: 25px;
  }

  &__tab {
    position: relative;
  }

  &__tab-header {
    position: absolute;
    top: -50px;
    right:0;
    font-size: 16px;
    font-weight: 700;
    color:$slightGray;
    text-transform:
  }

    &__tab-control {
    font-size: 16px;
    font-weight: 700;
    color:$slightGray;
    text-transform: uppercase;
    &:not(:last-of-type)
      margin-right: 20px;
  }
    &__active {
      position: relative;
      color: ;
      &:after:{
        position: absolute;
        content:"";
        width:100%;
        height:2 px;
        background-color: blue;
        bottom: -4px;
        left: 0;
      }
    }
    &:hover{
      position: relative;
      &:after{
        position: absolute;
        content:"";
        width: 100%;
        height: 2px;
        backgraund-color:;
        bottom: -4px;
        left:0;
      }
    }
  }
  &__tab-body {
    
  }
  &__item-wrapper {
    display:flex;
    justify-content: space-between;
  }
    &__item {
    width: calc((100% - 90px) / 4);
    border: 2px solid $;
    &:nth-of-type(2n){
      border-color:$coral;
      &>about__item-info{
        background-color: $coral
      }
      position: relative
      &:before
      {
        //cltcm
       };
    }
    }

&__item-icon{
  height: 150px;
  width: 100%;
  display: flex;
  img {
    max-width: 100%;
    margin: 0 auto;
  }
}
  &__item-info {

    background-color: blue;
  height: calc(100% - 150px);
  padding: 20px 30px;
  color:#fff;
  

  &__item-name {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__item-text {
    font-size: 14px;
  }
} 
}