
body {
  background-color: 
  font-weight: 100;
}

header {
  background-color: pink ;
  color:red;
  text-align:center;
}
.sub{
  padding:0;
}
main {
  padding-left: 30%;
  background-color: rgb(36, 134, 36);
  all:nth-of-type(2n): rgb(, 186, 233);
  background-color: blue;
}
footer{
  text-align:center;
  weight:100;
  padding-left: 15px; 
  padding-right: 15px
}
header p:first-of-type{
  font-size: 32px;
}

:hover{
  border-top-color: white;
  border-bottom-color: white;
}