*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  transition: all 0.3s easy-in-out;

}
button {
  cursor: pointer;
  transition: all 0.3s easy-in-out;
}